html{
    background-color: antiquewhite;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

.header{
    border: 5px solid rgb(83, 184, 0);
    background-color: rgba(255, 255, 255,70% );
    padding: 10px;

}