html{
    background-image: url("images/2-square-tile.gif");
    background-attachment: fixed;
}

.header{
    border-top-style: none;
    border-bottom-style: none;
    border: 10px solid rgb(250, 158, 3);
    border-top:0;
    border-bottom: 0;
    background-color: rgb(255, 228, 196);
    padding: 10px;
    
}